@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  height: 100vh;
  background-color: #86d2f2;
  padding: 10px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.button {
  height: 40px;
  width: 70px;
  border-radius: 10px;
  border-width: 0px;
  background-color: #1f1d41;
  color: lightgrey;
  margin-top: 40px;
}

.card-container {
  height: 280px;
  width: 90px;
  background-color: #1f1d41;
  border-radius: 40px;
  margin-left: 40px;
  padding: 25px;
}

.redlight {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background-color: red;
  margin-top: 10px;
}

.yellowlight {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background-color: yellow;
  margin-top: 43px;
}

.greenlight {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 221, 111);
  margin-top: 43px;
}

.white1 {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin-top: 10px;
}

.white2 {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin-top: 43px;
}

.white3 {
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin-top: 43px;
}